@media (max-width: 576px) {
  .entry-header,
  .selectionMenu,
  .monthly-cost-header {
    font-size: 11px !important;
  }

  .entry-header select,
  .selectionMenu button,
  .selectionMenu a {
    font-size: 11px !important;
  }

  .monthly-cost-header select,
  .monthly-cost-header button,
  .monthly-cost-header h4,
  .monthly-cost-header span {
    font-size: 12px !important;
  }

  
  .entry-header .badge,
  .monthly-cost-header .badge {
    font-size: 11px !important;
  }

  .dropdown-menu a,
  .dropdown-menu button {
    font-size: 11px !important;
  }
}
